
body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, white,orange, orange);
}

h1 {
    text-align: center;
    color:darkred;
    font-size:60px;
    background-color:whitesmoke;
}
p {
    text-align: center;
    color:white;
    font-size:20px;
    background-color:black;
}

nav{
   display:flex;
   justify-content:center;

}
nav a{
    border:5px solid rgb(255, 187, 0);
    text-decoration: none;
    padding:10px;
    margin:20px;
    background-color: orange;
    color:white;
}
div{
    text-align:center;

}
